.postcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  margin-left: 10%;
}

/* .quote-box,
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Carattere';
  font-size: 2em;
  border-bottom: 1px solid black;
  width: 100%;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 2%;
} */

/* .quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border: 1px solid red;
} */

/* .image-box {
  height: 80vh;
  border: 1px solid black;
} */
