.App {
  text-align: center;
}

.gen-quote-btn {
  font-family: 'Poppins';
  border: none;
  background-color: darkgrey;
  border-radius: 3%;
  height: 6vh;
  width: 10vw;
  font-size: 1em;

}

.gen-quote-btn:hover {
  cursor: pointer;
  color: white;
  background: #00556f;
}
