.card-quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 100%;
  border: 1px solid black;
  background-color: black;
  color: whitesmoke;
}

.card-quote {
  font-size: 1em;
}

.remove-btn {
  float: right;
  background: none;
  border: none;
  font-size: 2em;
  margin-bottom: -5%;
  margin-right: -5%;
  color: red;
}

.hidden {
  display: none;
}

.remove-btn:hover {
  cursor: pointer;
  color: #3c8d64;
}
/* .remove-btn:hover + .hidden {
  float: right;
  font-size: 3em;
} */
