.header {
  font: 'Poppins';
  background: black;
  color: white;
  height: 15vh;
  /* border-bottom: 2px dotted whitesmoke; */
}

p {
 margin: 0;
}

.header-div {
 display: flex;
 justify-content: space-between;

}

.header-title {
 font-family: 'Italianno';
 letter-spacing: 16px;
 font-size: 4em;
 margin-left: 3%;
 padding-top: 1%;
}

.header-des {
 font-size: 1.3em;
 font-style: italic;
 padding-top: 5%;
 margin-right: 1%;
}

.header-link {
  text-decoration: none;
}
