.home {
  display: flex;
  align-items: center;
}

.generate-aside {
  background: #3C8D64;
  height: 90vh;
  width: 20vw;
  border-right: 2px dotted whitesmoke;
}

.gen-quote-btn,
.gen-image-btn,
.save-to-fav-btn,
.view-fav-btn {
  font-family: 'Poppins';
  border: none;
  background-color: lightgrey;
  height: 8vh;
  width: 20vw;
  font-size: 1.2em;
  border-bottom: 1px solid black;
}

.gen-quote-btn {
  margin-top: 60%;
}

.fas {
  font-size: 1em;
}

.gen-quote-btn:hover,
.gen-image-btn:hover,
.save-to-fav-btn:hover,
.view-fav-btn:hover  {
  cursor: pointer;
  color: #00556f;
  background: whitesmoke;
}

.warning {
  font-size: 1.3em;
  color: whitesmoke;
}
