.home {
  display: flex;
    /* justify-content: space-evenly; */
  align-items: center;
}

.generate-aside {
  background: #00556f;
  height: 100vh;
  width: 28vw;
  border-right: 2px dotted whitesmoke;
}

.gen-quote-btn,
.gen-image-btn {
  font-family: 'Poppins';
  border: none;
  background-color: lightgrey;
  border-radius: 3%;
  height: 8vh;
  width: 20vw;
  font-size: 1.5em;
  float: center;
  margin-top: 10%;
}

.gen-quote-btn {
  margin-top: 30%;
}

.gen-quote-btn:hover,
.gen-image-btn:hover {
  cursor: pointer;
  color: #00556f;
  background: whitesmoke;
}
